.button{
  height: 3.25rem;
  padding: 1rem;

  background-color: var(--blue-dark);
  color: #FFFFFF;
  font-weight: bold;
  font-size: 0.875;
  line-height: 140%;

  border: 0;
  border-radius: 10px;
  gap: 0.5rem;
  box-shadow: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;
}

.button:hover{
  background-color: var(--blue);
}