.wrapper{
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container{
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 0.5rem;

  @media (max-width: 425px) {
    flex-direction: column;

    input{
      width: 90%;
      margin: auto
    }

    button{
      width: 70%;
      margin: auto;
    }
  }
}

.container input, .container button {
  transform: translateY(-50%);

  margin-bottom: 2.3125rem;

  @media (max-width: 425px) {
    margin-bottom: 1rem;
  }
}

.taskList{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.tasksListItens{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}