.container{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  align-items: center;

  color: var(--gray-300);
  padding: 4rem 1rem;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.container p{
  display: flex;
  align-items: center;
  flex-direction: column;
}